<!doctype html>
<html th:fragment="layout (template, menu)">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.png}">

  <title>PetClinic :: a Spring Framework demonstration</title>

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/resources/css/petclinic.css}" />
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}"><span></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main-navbar" style>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0" th:remove="all">

          <li th:fragment="menuItem (link,active,title,glyph,text)" th:class="nav-item">
            <a th:class="${active==menu ? 'nav-link active' : 'nav-link'}" th:href="@{__${link}__}" th:title="${title}">
              <span th:class="'fa fa-'+${glyph}" class="fa fa-home"></span>
              <span th:text="${text}">Template</span>
            </a>
          </li>

        </ul>

        <ul class="nav navbar-nav me-auto">

          <li th:replace="~{::menuItem ('/home','home','home page','home','Home')}">
            <span class="fa fa-home" aria-hidden="true"></span>
            <span>Home</span>
          </li>

          <li th:replace="~{::menuItem ('/owners/find','owners','find owners','search','Find owners')}">
            <span class="fa fa-search" aria-hidden="true"></span>
            <span>Find owners</span>
          </li>
          <li th:replace="~{::menuItem ('/slow','Veterinarians','Show the list of Veterenerians','clock-o','Veterinarians')}">
            <span class="fa fa-clock-o" aria-hidden="true"></span>
            <span>Veterenerians</span>
          </li>
          <li th:replace="~{::menuItem ('/oups','error','trigger a RuntimeException to see how it is handled','exclamation-triangle','Error')}">
            <span class="fa exclamation-triangle" aria-hidden="true"></span>
            <span>Error</span>
          </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li id="logout" th:replace="~{::menuItem ('/logout','logout','Logout from current session','lock','Logout')}">
            <span class="fa exclamation-triangle" aria-hidden="true"></span>
            <span>Logout</span>
          </li>
          <li id="user" th:replace="~{::menuItem ('/home','user','Username logged in','user',${session.username})}" th:align = "right" class="nav navbar-nav me-right">
            <span>UserLogged in as</span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="container xd-container">

      <th:block th:insert="${template}" />

      <br />
      <br />
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <img src="../static/resources/images/spring-pivotal-logo.png"
              th:src="@{/resources/images/spring-pivotal-logo.png}" alt="Sponsored by Pivotal" /></div>
        </div>
      </div>
    </div>
  </div>

  <script th:src="@{/webjars/bootstrap/5.2.3/dist/js/bootstrap.bundle.min.js}"></script>
  <script type="text/javascript" defer>
  (function(d, s, c) {
    var j = d.createElement(s),
        t = d.getElementsByTagName(s)[0]

    j.src = 'https://cdn.jsdelivr.net/npm/sf-apm-rum@1.1.10/dist/sf-apm-rum.min.js'
    j.onload = function() {
        let apmRum = new sfApm.ApmRum();
        apmRum.init(c);
    }
    t.parentNode.insertBefore(j, t)
    })(document, 'script', {
        baseUrl: 'https://portal.snappyflow.io',
        profileKey: 'X7hL8+7yWdD7bq+dZTWJoVYS4tFPyuua4YYK7vXOrujGggHzWj59CA/V921m5OvguKLcTwLAZIU6Meg4eM0RdyVqqX0yF027Lp6wyc1msGMO7kdGOg9t+HlJF3Angy+ijTGwdrDjECUHGdSZ5h6+QeShPgsbopXpFC2zA5lzkBqsFbe78FO0Vkiu5kiBr+dWKmWAplvplYZjHTPOXAx/+Pejx5NUyz7SzunHP5ZesBGCaOVgB1WA1Ro28LCm5TGEGzjJdS90OPycgv6ZYwM+SI0rCvkGUubCucq58xkP8fIdrZ4L/qPx+MVdc3rPdSIEDDgS3eQSLA/66433AKSTuE/9pzm7VTcPPSCc9j0EC3yL1woObZjbZ1Cz3a6XX6gvjP073yzaYavuELo7ysGLFTJpqNJiTluLDIuKivKkDEneHjpCWUgY+PSyDNZc0H0+mVBZthNsY7Bhw414X9orV1Oe/i+dhxCBlM0exviUY1obD4OdI/q4T1HnfPikbUy1vtMOQGA45vkgkCni8RuxNDB1zDtWR0MLTygpOkJiQOibyBUEopSi43IwDlL/Y/o0+h61dc1On3E7RycJC5NvWHei0uv8gXfBq69eh3er5IZMOyb5BaTTG3qhkq15727TRRzi5vwcxebjnrbxWW0F2KE+SsJB8vlYDaAyxJehPOQ2K/ZgCaR9F95D4diBsJeMl/I7SYPaUA5QhJN+ejKlDbGDUMb+pITD1TkuRkBKETijeWDxbygnZMM6PM/4HzXEjYLZntfxvGt04CnoJ9t4YlWkkcYysWAxeDiP7d6pd+W+q2jk1OdFkFSZdrlT0EAFPxw1JSQgQdgqne534f0psBwTuYLY1pUgA+bErhZfY37BZT2SFAuigfjgMvbYcov6EnrgdFMDKhZo/eI8H6FhjyEjjocsBJiJj/EOQxEKszjWQ5qXKw9deM6EgmsHNnzV',
        serviceName: 'petclinic-demo',
        projectName: 'VM-Apps',
        appName: 'Petclinic',
        distributedTracing: false,
        serviceVersion: "0.0.0", 
        distributedTracing: false,
        pageLoadTransactionName: '/',
        breakdownMetrics: true,
    }); 
  </script>
</body>
</html>
