<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"  th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<meta charset="ISO-8859-1">
<title>Successful creation
</title>
</head>
<style>  
h3{
  font-family: Calibri; 
  font-size: 18pt;         
  font-style: normal; 
  font-weight: bold; 
  color:SlateBlue;
  text-align: center; 
  text-decoration: underline
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18pt;
  font-style: normal;
  color: slateblue;
  text-align: center;
}

</style>  
<body>
<center>
<h3>User creation Successful</h3>
<a href="/">You can login using this link.</a>
<br>
<br>
<center></center>
</body>
</html>